html,
body {
  overflow-y: auto;
}

.slideContainer {
  background-image: url('/assets/homepage/png_chip_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-size: contain;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 20px 10px;
}

.item {
  border-radius: 10px;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media (max-width: 600px) {
  .slideContainer {
    padding: 10px 2px;
  }
} 